@import "bootstrap/dist/css/bootstrap.min.css";

@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: white;
}

.header-box-box {
    background: #f8f9fa;
    border-radius: 20px;
    overflow: hidden;
}

.header-box-content {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.box-img-wrapper {
    height: 260px; /* Visina kao na screenshotu */
    overflow: hidden;
    border-radius: 20px;
}

.box-img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    object-position: center center;
}

.box-fade {
    position: absolute;
    inset: 0;
    z-index: 5;

    /* Precizan fade efekt kao na slici */
    background: linear-gradient(
        to right,
        rgb(240, 240, 240) 40%,
        rgba(240, 240, 240, 0.85) 55%,
        rgba(240, 240, 240, 0.3) 70%,
        rgba(240, 240, 240, 0) 100%
    );

    pointer-events: none;
}

/* ------------------------------------------
   RESPONSIVE PODEŠAVANJE (MOBILNI)
   ------------------------------------------ */

@media (max-width: 768px) {
    .box-img-wrapper {
        height: 170px;
    }

    .box-img {
        width: 100%;
        object-fit: cover;
        object-position: center center; /* centriraj sliku */
    }

    .box-fade {
        background: linear-gradient(
            to top,
            rgba(224, 224, 224, 1) 10%,
            rgba(224, 224, 224, 0) 80%
        );
    }
}

.sidebar-desktop {
    width: 250px !important;
    flex: 0 0 250px !important;
    min-height: 100vh;
}

.text-multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* broj linija */
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 50px;
}

.filter-title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 14px;
}

.filter-body .nav-link {
    color: rgba(33, 37, 41, 0.75);
    transition: color 0.1s ease;
}

.filter-body .nav-link:hover {
    color: rgba(33, 37, 41);
}

.filter-body .filter-scroll {
    max-height: 230px;
    overflow-y: scroll;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1600px !important; /* ili koja god širina */
    }
}
